@use './reset.css';
@use './variables' as *;
@use './mixins' as *;

html {
  scroll-behavior: smooth;
}

html:not(.is-loaded) {
  overflow: hidden;
}

.hero__logo_img.is-waiting {
  opacity: 0;
}

html,
body {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  font-family: $ff-base;
  background-color: $c-bg;
  color: $c-text;
  line-height: $lh-base;
}

body.is-menu-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

section {
  padding: 24px;
}
